.form {
  width: 250px;
  margin: 20px auto;
}

.input_wrapper {
  position: relative;
}

.input_wrapper:before {
  position: absolute;
  top: 7px;
  bottom: 0;
  right: 0;
  margin: auto 0;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: rgb(187, 187, 187);
}

input {
  width: 250px;
  height: 25px;
}

