.main {
  width: 350px;
  margin: 0 auto;
}

.info {
  background-color: rgba(21, 29, 66, 0.8);
  width: 350px;
  height: 500px;
  border-radius: 20px;
  color: aliceblue;
  margin: 0;
}

.location {
  margin: 20px auto;
  width: 250px;
  text-align: center;
  padding-top: 10px;
}

.location h1, h2 {
  margin: 0;
}

.location p {
  font-size: 12px;
  margin: -20px 0 0 0;
}

.weather_wrapper {
  width: 250px;
  margin: 70px auto;
}

.weather_wrapper p {
  margin: 5px 0;
  font-size: 18px;
}

@media (min-width: 768px) {
  .main {
    width: 700px;
  }

  .info {
    width: 700px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
  }

  .location {
    margin: 60px 0;
    padding-top: 0;
  }

  .weather_wrapper {
    width: 250px;
    margin: 70px 0 0 0;
  }
}

