body {
  margin: 0;
    background-image: url("https://i.pinimg.com/originals/77/0b/c5/770bc50cee014a808e818037164ac7fe.jpg");
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
